---
const { myIcon, name, description, interests } = Astro.props;
---

<section class="profile">
  <img src={myIcon.src} alt="icon" width="160" />

  <h1>{name}</h1>
  <p>Last updated: 2025-12 (WIP)</p>
  <p>{description}</p>

  <h2>Interests</h2>
  <p>{interests.join(" / ")}</p>
</section>

<style>
  .profile {
    margin-bottom: 2rem;
  }
</style>
