---
export interface Props {
  projects: {
    name: string;
    description: string;
    url: string;
  }[];
}
const { projects } = Astro.props;
---

<section>
  <h2>Projects</h2>
  <ul>
    {
      projects.map((project) => (
        <li class="project">
          <a href={project.url} target="_blank">
            <>
              <strong>{project.name}</strong>
              <br />
            </>
          </a>
          {project.description}
          <br />
        </li>
      ))
    }
  </ul>
</section>

<style>
  h2 {
    margin-top: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
  }

  .project {
    padding: 1rem 1.2rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
  }

  .project a {
    color: var(--fg);
  }
</style>
